<section class="w-full bg-text2 text-text1 rounded-md px-2 py-5 grid grid-cols-1 sm:place-items-center">
    @ChildContent
</section>

@code {
[Parameter]
public RenderFragment ChildContent { get; set; }
}