<header class="hidden lg:flex lg:flex-col lg:items-center lg:gap-8">
    <h2 class="text-heading font-roboto font-bold text-6xl">
        Каталог фиалок
    </h2>
    <h3 class="text-subheading">Моя коллекция растений!</h3>
</header>