<div
    class="w-[330px] flex justify-between text-lg text-heading sm:w-[500px] md:w-[700px]">
    <a
        href="@($"/details/{LeftViolet.TransliteratedName}#details-container")"
        class="flex items-center gap-2 fill-heading hover:text-text2 hover:fill-text2">
        <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_26_372)">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.375 11C1.375 13.5527 2.38906 16.0009 4.1941 17.8059C5.99913 19.6109 8.44729 20.625 11 20.625C13.5527 20.625 16.0009 19.6109 17.8059 17.8059C19.6109 16.0009 20.625 13.5527 20.625 11C20.625 8.44729 19.6109 5.99913 17.8059 4.1941C16.0009 2.38906 13.5527 1.375 11 1.375C8.44729 1.375 5.99913 2.38906 4.1941 4.1941C2.38906 5.99913 1.375 8.44729 1.375 11ZM22 11C22 13.9174 20.8411 16.7153 18.7782 18.7782C16.7153 20.8411 13.9174 22 11 22C8.08262 22 5.28473 20.8411 3.22183 18.7782C1.15893 16.7153 0 13.9174 0 11C0 8.08262 1.15893 5.28473 3.22183 3.22183C5.28473 1.15893 8.08262 0 11 0C13.9174 0 16.7153 1.15893 18.7782 3.22183C20.8411 5.28473 22 8.08262 22 11ZM15.8125 10.3125C15.9948 10.3125 16.1697 10.3849 16.2986 10.5139C16.4276 10.6428 16.5 10.8177 16.5 11C16.5 11.1823 16.4276 11.3572 16.2986 11.4861C16.1697 11.6151 15.9948 11.6875 15.8125 11.6875H7.84712L10.7992 14.6383C10.8632 14.7022 10.9139 14.7781 10.9485 14.8616C10.9831 14.9451 11.0009 15.0346 11.0009 15.125C11.0009 15.2154 10.9831 15.3049 10.9485 15.3884C10.9139 15.4719 10.8632 15.5478 10.7992 15.6117C10.7353 15.6757 10.6594 15.7264 10.5759 15.761C10.4924 15.7956 10.4029 15.8134 10.3125 15.8134C10.2221 15.8134 10.1326 15.7956 10.0491 15.761C9.96556 15.7264 9.88967 15.6757 9.82575 15.6117L5.70075 11.4867C5.63673 11.4229 5.58593 11.347 5.55127 11.2635C5.51661 11.18 5.49877 11.0904 5.49877 11C5.49877 10.9096 5.51661 10.82 5.55127 10.7365C5.58593 10.653 5.63673 10.5771 5.70075 10.5133L9.82575 6.38825C9.95484 6.25916 10.1299 6.18663 10.3125 6.18663C10.4951 6.18663 10.6702 6.25916 10.7992 6.38825C10.9283 6.51734 11.0009 6.69243 11.0009 6.875C11.0009 7.05757 10.9283 7.23266 10.7992 7.36175L7.84712 10.3125H15.8125Z"/>
            </g>
            <defs>
                <clipPath id="clip0_26_372">
                    <rect width="22" height="22" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <p>Назад</p>
    </a>
    <a
        href="@($"/details/{RightViolet.TransliteratedName}#details-container")"
        class="flex items-center gap-2 fill-heading hover:text-text2 hover:fill-text2">
        <p>Вперед</p>
        <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_26_377)">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.625 11C20.625 8.44729 19.6109 5.99914 17.8059 4.1941C16.0009 2.38906 13.5527 1.375 11 1.375C8.44729 1.375 5.99914 2.38906 4.1941 4.1941C2.38906 5.99914 1.375 8.44729 1.375 11C1.375 13.5527 2.38906 16.0009 4.1941 17.8059C5.99914 19.6109 8.44729 20.625 11 20.625C13.5527 20.625 16.0009 19.6109 17.8059 17.8059C19.6109 16.0009 20.625 13.5527 20.625 11ZM0 11C0 8.08262 1.15892 5.28473 3.22182 3.22182C5.28473 1.15892 8.08262 0 11 0C13.9174 0 16.7153 1.15892 18.7782 3.22182C20.8411 5.28473 22 8.08262 22 11C22 13.9174 20.8411 16.7153 18.7782 18.7782C16.7153 20.8411 13.9174 22 11 22C8.08262 22 5.28473 20.8411 3.22182 18.7782C1.15892 16.7153 0 13.9174 0 11ZM6.1875 11.6875C6.00516 11.6875 5.8303 11.6151 5.70136 11.4861C5.57243 11.3572 5.5 11.1823 5.5 11C5.5 10.8177 5.57243 10.6428 5.70136 10.5139C5.8303 10.3849 6.00516 10.3125 6.1875 10.3125H14.1529L11.2008 7.36175C11.1368 7.29783 11.0861 7.22194 11.0515 7.13843C11.0169 7.05491 10.9991 6.9654 10.9991 6.875C10.9991 6.7846 11.0169 6.69509 11.0515 6.61157C11.0861 6.52806 11.1368 6.45217 11.2008 6.38825C11.2647 6.32433 11.3406 6.27362 11.4241 6.23903C11.5076 6.20444 11.5971 6.18663 11.6875 6.18663C11.7779 6.18663 11.8674 6.20444 11.9509 6.23903C12.0344 6.27362 12.1103 6.32433 12.1742 6.38825L16.2993 10.5133C16.3633 10.5771 16.4141 10.653 16.4487 10.7365C16.4834 10.82 16.5012 10.9096 16.5012 11C16.5012 11.0904 16.4834 11.18 16.4487 11.2635C16.4141 11.347 16.3633 11.4229 16.2993 11.4867L12.1742 15.6118C12.0452 15.7408 11.8701 15.8134 11.6875 15.8134C11.5049 15.8134 11.3298 15.7408 11.2008 15.6118C11.0717 15.4827 10.9991 15.3076 10.9991 15.125C10.9991 14.9424 11.0717 14.7673 11.2008 14.6382L14.1529 11.6875H6.1875Z"/>
            </g>
            <defs>
                <clipPath id="clip0_26_377">
                    <rect
                        width="22"
                        height="22"
                        fill="white"
                        transform="translate(22 22) rotate(-180)"/>
                </clipPath>
            </defs>
        </svg>
    </a>
</div>

@code
{
    [Parameter] public StoredViolet LeftViolet { get; set; }
    [Parameter] public StoredViolet RightViolet { get; set; }
}
