<section id="order-container" class="w-full bg-text2 rounded-md px-2 py-5 grid grid-cols-1 gap-4 sm:place-items-center md:px-20 lg:px-32 xl:px-52">
    @ChildContent
</section>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}