<li>
    @{
        List<string> style = new() {"flex", "justify-center", "items-center", "gap-[5px]", "px-2", "py-1", "rounded-full", 
            "border-[1px]", "hover:bg-text1", 
            Tag.Active ? 
                String.Join(' ', "bg-text1/80", "border-label") : 
                String.Join(' ', "bg-background", "border-background")
        };

        string value = String.Join(' ', style);
    }
    <button @onclick="Callback" class="@value">
        <span class="lowercase">@Tag.Name</span>
    </button>
</li>

@code {
    [Parameter, EditorRequired] public Tag Tag { get; set; }
    [Parameter, EditorRequired] public EventCallback<Tag> ChangeTagState { get; set; }

    private void Callback()
    {
        ChangeTagState.InvokeAsync(Tag);
    }
}