<div
  class="flex text-menutext md:bg-menu rounded-full p-2 text-xl justify-center md:justify-between items-center">
  <p class="hidden md:flex pl-4">Сортировка:</p>
  <div class="flex gap-8 items-center">
    <NameFilterButton />
    <div class="hidden md:flex h-6 w-[1px] bg-text1"></div>
    <ColorFilterButton />
  </div>
</div>