<a
    href="#"
    class="flex gap-4 p-3 md:px-4 md:py-2 rounded-full stroke-menutext bg-menu hover:bg-text1 hover:stroke-text2 hover:text-text2">
    <p class="hidden md:flex">По цвету</p>
    <svg
        width="25"
        height="25"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12.5 14.25C15.6066 14.25 18.125 11.7316 18.125 8.625C18.125 5.5184 15.6066 3 12.5 3C9.3934 3 6.875 5.5184 6.875 8.625C6.875 11.7316 9.3934 14.25 12.5 14.25Z"
            stroke-width="1.5"
            stroke-linejoin="round"/>
        <path
            d="M16.625 21C19.7316 21 22.25 18.4816 22.25 15.375C22.25 12.2684 19.7316 9.75 16.625 9.75C13.5184 9.75 11 12.2684 11 15.375C11 18.4816 13.5184 21 16.625 21Z"
            stroke-width="1.5"
            stroke-linejoin="round"/>
        <path
            d="M8.375 21C11.4816 21 14 18.4816 14 15.375C14 12.2684 11.4816 9.75 8.375 9.75C5.2684 9.75 2.75 12.2684 2.75 15.375C2.75 18.4816 5.2684 21 8.375 21Z"
            stroke-width="1.5"
            stroke-linejoin="round"/>
    </svg>
</a>