@page "/contacts"

<PageTitle>Контакты</PageTitle>

<ContactsContainer>
    <div class="flex justify-center items-center bg-text2 rounded-md w-full py-2 md:py-10">
        <div class="text-text1 px-2">
            <p><b>Телефон:</b> +7 (903) 281-27-26</p>
            <p><b>E-mail:</b> kosinova15@gmail.com</p>
            <p><b>Адрес:</b> Ulitsa Samory Mashela, 1, Moscow, 117198</p>
        </div>
    </div>
</ContactsContainer>