@page "/"
@page "/{Filter}/{Criteria}"

<PageTitle>Каталог фиалок Екатерины Ефимовой</PageTitle>
<HeadContent>
    <meta name="description" content="Главная страница каталога фиалок Екатерины Ефимовой.">
</HeadContent>

<MainContainer>
    <CatalogHeader />
    @*
    <CatalogFilter SortByName="SortByName" SortByPrimaryColor="SortByPrimaryColor" />
    *@


    <div class="w-[300px] text-menutext sm:w-[500px] md:w-[700px] lg:w-[900px]">
        @* Контейнер заголовка *@
        <div class="bg-menu flex justify-between items-center p-2.5 rounded-t-[22px] cursor-pointer">
            <button title="Фильтры" class="text-xl hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Фильтры и сортировка</button>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.00301 16.011L12.5 8.70297L19.997 16.011C20.131 16.1418 20.3108 16.2151 20.498 16.2151C20.6852 16.2151 20.8651 16.1418 20.999 16.011C21.0639 15.9474 21.1154 15.8716 21.1506 15.7879C21.1857 15.7042 21.2039 15.6143 21.2039 15.5235C21.2039 15.4327 21.1857 15.3428 21.1506 15.2591C21.1154 15.1754 21.0639 15.0995 20.999 15.036L13.0235 7.25997C12.8834 7.12345 12.6956 7.04704 12.5 7.04704C12.3044 7.04704 12.1166 7.12345 11.9765 7.25997L4.00101 15.0345C3.93569 15.0981 3.88378 15.1741 3.84833 15.2581C3.81289 15.3421 3.79462 15.4323 3.79462 15.5235C3.79462 15.6146 3.81289 15.7049 3.84833 15.7889C3.88378 15.8728 3.93569 15.9489 4.00101 16.0125C4.13495 16.1433 4.31477 16.2166 4.50201 16.2166C4.68925 16.2166 4.86906 16.1433 5.00301 16.0125V16.011Z" fill="#FDD9C2"/>
            </svg>
        </div>
        @* Контейнер кнопок сортировки *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background">
            <button class="flex gap-[15px] items-center px-[10px] py-[5px] bg-background rounded-full hover:bg-text1">
                <span class="text-lg">По названию</span>
                <svg
                    class="fill-menutext"
                    width="25"
                    height="25"
                    viewBox="0 0 25 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.69298 1.962C8.63601 1.82536 8.53988 1.70863 8.41669 1.62652C8.2935 1.54441 8.14877 1.5006 8.00073 1.5006C7.85269 1.5006 7.70795 1.54441 7.58477 1.62652C7.46158 1.70863 7.36545 1.82536 7.30848 1.962L3.55848 10.962C3.48781 11.1445 3.49127 11.3474 3.56812 11.5273C3.64496 11.7073 3.78911 11.8501 3.96978 11.9253C4.15046 12.0005 4.35337 12.002 4.53519 11.9297C4.71701 11.8573 4.86335 11.7168 4.94298 11.538L6.00048 9H9.99948L11.057 11.538C11.1334 11.7218 11.2796 11.8677 11.4636 11.9437C11.6476 12.0196 11.8542 12.0194 12.038 11.943C12.2218 11.8666 12.3677 11.7204 12.4437 11.5364C12.5196 11.3524 12.5194 11.1458 12.443 10.962L8.69298 1.962ZM6.62448 7.5L7.99998 4.2L9.37548 7.5H6.62448ZM4.24998 14.25C4.24998 14.0511 4.329 13.8603 4.46965 13.7197C4.6103 13.579 4.80107 13.5 4.99998 13.5H10.25C10.3873 13.4998 10.522 13.5374 10.6395 13.6085C10.7569 13.6797 10.8525 13.7817 10.916 13.9035C10.9794 14.0253 11.0082 14.1621 10.9992 14.2991C10.9902 14.4361 10.9438 14.5681 10.865 14.6805L6.43998 21H10.25C10.4489 21 10.6397 21.079 10.7803 21.2197C10.921 21.3603 11 21.5511 11 21.75C11 21.9489 10.921 22.1397 10.7803 22.2803C10.6397 22.421 10.4489 22.5 10.25 22.5H4.99998C4.86267 22.5002 4.72795 22.4626 4.61051 22.3915C4.49307 22.3203 4.39741 22.2183 4.33397 22.0965C4.27053 21.9747 4.24174 21.8379 4.25073 21.7009C4.25973 21.5639 4.30616 21.4319 4.38498 21.3195L8.80998 15H4.99998C4.80107 15 4.6103 14.921 4.46965 14.7803C4.329 14.6397 4.24998 14.4489 4.24998 14.25ZM19.25 1.5C19.4489 1.5 19.6397 1.57902 19.7803 1.71967C19.921 1.86032 20 2.05109 20 2.25V19.9395L21.719 18.219C21.8598 18.0782 22.0508 17.9991 22.25 17.9991C22.4491 17.9991 22.6401 18.0782 22.781 18.219C22.9218 18.3598 23.0009 18.5508 23.0009 18.75C23.0009 18.9492 22.9218 19.1402 22.781 19.281L19.781 22.281C19.7113 22.3508 19.6285 22.4063 19.5374 22.4441C19.4463 22.4819 19.3486 22.5013 19.25 22.5013C19.1513 22.5013 19.0536 22.4819 18.9625 22.4441C18.8714 22.4063 18.7886 22.3508 18.719 22.281L15.719 19.281C15.5781 19.1402 15.499 18.9492 15.499 18.75C15.499 18.5508 15.5781 18.3598 15.719 18.219C15.8598 18.0782 16.0508 17.9991 16.25 17.9991C16.4491 17.9991 16.6401 18.0782 16.781 18.219L18.5 19.9395V2.25C18.5 2.05109 18.579 1.86032 18.7196 1.71967C18.8603 1.57902 19.0511 1.5 19.25 1.5Z"/>
                </svg>
            </button>
            <button class="flex gap-[15px] items-center px-[10px] py-[5px] bg-background rounded-full hover:bg-text1">
                <span class="text-lg">По цвету</span>
                <svg
                    class="stroke-menutext"
                    width="25"
                    height="25"
                    viewBox="0 0 25 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.5 14.25C15.6066 14.25 18.125 11.7316 18.125 8.625C18.125 5.5184 15.6066 3 12.5 3C9.3934 3 6.875 5.5184 6.875 8.625C6.875 11.7316 9.3934 14.25 12.5 14.25Z"
                        stroke-width="1.5"
                        stroke-linejoin="round"/>
                    <path
                        d="M16.625 21C19.7316 21 22.25 18.4816 22.25 15.375C22.25 12.2684 19.7316 9.75 16.625 9.75C13.5184 9.75 11 12.2684 11 15.375C11 18.4816 13.5184 21 16.625 21Z"
                        stroke-width="1.5"
                        stroke-linejoin="round"/>
                    <path
                        d="M8.375 21C11.4816 21 14 18.4816 14 15.375C14 12.2684 11.4816 9.75 8.375 9.75C5.2684 9.75 2.75 12.2684 2.75 15.375C2.75 18.4816 5.2684 21 8.375 21Z"
                        stroke-width="1.5"
                        stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        @* Контейнер тегов *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background">
            <button title="Теги" class="hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Теги:</button>
            <ul class="flex flex-wrap gap-[5px] text-[15px] leading-none">
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>мини</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>красивая</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>макси</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>махровая</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>химера</span>
                    </button>
                </li>
            </ul>
        </div>
        @* Контейнер цветов *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background">
            <button title="Цвета" class="hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Цвета:</button>
            <ul class="flex flex-wrap gap-[5px] text-[15px] leading-none">
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>желтый</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>зеленый</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>синий</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>фиолетовый</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>розовый</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>красный</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>оранжевый</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>белый</span>
                    </button>
                </li>
            </ul>
        </div>
        @* Контейнер селекционеров *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background">
            <button title="Селекционеры" class="hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Селекционеры:</button>
            <ul class="flex flex-wrap gap-[5px] text-[15px] leading-none">
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Никита Ефимов</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Фиалковод</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Екатерина Ефимова</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Елена Коршунова</span>
                    </button>
                </li>
            </ul>
        </div>
        @* Контейнер годов *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background">
            <button title="Годы селекции" class="hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Годы селекции:</button>
            <ul class="flex flex-wrap gap-[5px] text-[15px] leading-none">
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>2001</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>2003</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>2005</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>2022</span>
                    </button>
                </li>
            </ul>
        </div>
        @* Контейнер химеры *@
        <div class="bg-menu flex flex-col items-start p-2.5 gap-[10px] border-t-[1px] border-t-background rounded-b-[22px]">
            <button title="Химера" class="hover:underline hover:decoration-menutext/30 hover:underline-offset-4">Химера:</button>
            <ul class="flex flex-wrap gap-[5px] text-[15px] leading-none">
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1 border-[1px] border-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_304)">
                                <mask id="path-1-inside-1_203_304" fill="white">
                                    <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z"/>
                                </mask>
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15V15Z" fill="#B3090A"/>
                                <path d="M1.4375 7.5H0.4375H1.4375ZM8 0.9375V-0.0625V0.9375ZM15.5 7.5H16.5H15.5ZM8 0V-1V0ZM0.5 7.5H-0.5H0.5ZM8 13.0625C6.52473 13.0625 5.10989 12.4765 4.06672 11.4333L2.6525 12.8475C4.07075 14.2657 5.9943 15.0625 8 15.0625V13.0625ZM4.06672 11.4333C3.02355 10.3901 2.4375 8.97527 2.4375 7.5H0.4375C0.4375 9.5057 1.23426 11.4293 2.6525 12.8475L4.06672 11.4333ZM2.4375 7.5C2.4375 6.02473 3.02355 4.60989 4.06672 3.56672L2.6525 2.1525C1.23426 3.57075 0.4375 5.4943 0.4375 7.5H2.4375ZM4.06672 3.56672C5.10989 2.52355 6.52473 1.9375 8 1.9375V-0.0625C5.9943 -0.0625 4.07075 0.734261 2.6525 2.1525L4.06672 3.56672ZM8 1.9375C9.47527 1.9375 10.8901 2.52355 11.9333 3.56672L13.3475 2.1525C11.9293 0.734261 10.0057 -0.0625 8 -0.0625V1.9375ZM11.9333 3.56672C12.9765 4.60989 13.5625 6.02473 13.5625 7.5H15.5625C15.5625 5.4943 14.7657 3.57075 13.3475 2.1525L11.9333 3.56672ZM13.5625 7.5C13.5625 8.97527 12.9765 10.3901 11.9333 11.4333L13.3475 12.8475C14.7657 11.4293 15.5625 9.5057 15.5625 7.5H13.5625ZM11.9333 11.4333C10.8901 12.4765 9.47527 13.0625 8 13.0625V15.0625C10.0057 15.0625 11.9293 14.2657 13.3475 12.8475L11.9333 11.4333ZM8 16C10.2543 16 12.4163 15.1045 14.0104 13.5104L12.5962 12.0962C11.3772 13.3152 9.72391 14 8 14V16ZM14.0104 13.5104C15.6045 11.9163 16.5 9.75434 16.5 7.5H14.5C14.5 9.22391 13.8152 10.8772 12.5962 12.0962L14.0104 13.5104ZM16.5 7.5C16.5 5.24566 15.6045 3.08365 14.0104 1.48959L12.5962 2.90381C13.8152 4.12279 14.5 5.77609 14.5 7.5H16.5ZM14.0104 1.48959C12.4163 -0.104467 10.2543 -1 8 -1V1C9.72391 1 11.3772 1.68482 12.5962 2.90381L14.0104 1.48959ZM8 -1C5.74566 -1 3.58365 -0.104467 1.98959 1.48959L3.40381 2.90381C4.62279 1.68482 6.27609 1 8 1V-1ZM1.98959 1.48959C0.395533 3.08365 -0.5 5.24566 -0.5 7.5H1.5C1.5 5.77609 2.18482 4.12279 3.40381 2.90381L1.98959 1.48959ZM-0.5 7.5C-0.5 9.75434 0.395533 11.9163 1.98959 13.5104L3.40381 12.0962C2.18482 10.8772 1.5 9.22391 1.5 7.5H-0.5ZM1.98959 13.5104C3.58365 15.1045 5.74566 16 8 16V14C6.27609 14 4.62279 13.3152 3.40381 12.0962L1.98959 13.5104Z" fill="#B3090A" mask="url(#path-1-inside-1_203_304)"/>
                                <line x1="3.5" y1="7.5" x2="12.5" y2="7.5" stroke="#B3090A"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_203_304">
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>да</span>
                    </button>
                </li>
                <li>
                    <button class="flex justify-center items-center gap-[5px] p-[5px] bg-background rounded-full hover:bg-text1">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_203_286)">
                                <path d="M8 14.0625C6.25952 14.0625 4.59032 13.3711 3.35961 12.1404C2.1289 10.9097 1.4375 9.24048 1.4375 7.5C1.4375 5.75952 2.1289 4.09032 3.35961 2.85961C4.59032 1.6289 6.25952 0.9375 8 0.9375C9.74048 0.9375 11.4097 1.6289 12.6404 2.85961C13.8711 4.09032 14.5625 5.75952 14.5625 7.5C14.5625 9.24048 13.8711 10.9097 12.6404 12.1404C11.4097 13.3711 9.74048 14.0625 8 14.0625ZM8 15C9.98912 15 11.8968 14.2098 13.3033 12.8033C14.7098 11.3968 15.5 9.48912 15.5 7.5C15.5 5.51088 14.7098 3.60322 13.3033 2.1967C11.8968 0.790176 9.98912 0 8 0C6.01088 0 4.10322 0.790176 2.6967 2.1967C1.29018 3.60322 0.5 5.51088 0.5 7.5C0.5 9.48912 1.29018 11.3968 2.6967 12.8033C4.10322 14.2098 6.01088 15 8 15Z" fill="#00A3EE"/>
                                <path d="M8 3.75C8.12432 3.75 8.24355 3.79939 8.33146 3.88729C8.41936 3.9752 8.46875 4.09443 8.46875 4.21875V7.03125H11.2812C11.4056 7.03125 11.5248 7.08064 11.6127 7.16854C11.7006 7.25645 11.75 7.37568 11.75 7.5C11.75 7.62432 11.7006 7.74355 11.6127 7.83146C11.5248 7.91936 11.4056 7.96875 11.2812 7.96875H8.46875V10.7812C8.46875 10.9056 8.41936 11.0248 8.33146 11.1127C8.24355 11.2006 8.12432 11.25 8 11.25C7.87568 11.25 7.75645 11.2006 7.66854 11.1127C7.58064 11.0248 7.53125 10.9056 7.53125 10.7812V7.96875H4.71875C4.59443 7.96875 4.4752 7.91936 4.38729 7.83146C4.29939 7.74355 4.25 7.62432 4.25 7.5C4.25 7.37568 4.29939 7.25645 4.38729 7.16854C4.4752 7.08064 4.59443 7.03125 4.71875 7.03125H7.53125V4.21875C7.53125 4.09443 7.58064 3.9752 7.66854 3.88729C7.75645 3.79939 7.87568 3.75 8 3.75Z" fill="#00A3EE"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_203_286">
                                    <rect width="15" height="15" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span>нет</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    
    
    <CatalogContainer>
        @foreach (Violet violet in FilteredViolets)
        {
            <CatalogCard Violet="violet"/>
        }
    </CatalogContainer>
</MainContainer>


@code
{
    [Parameter] public string Filter { get; set; }
    [Parameter] public string Criteria { get; set; }
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    private List<Violet> _filteredViolets;
    private List<Violet> FilteredViolets
    {
        get
        {
            if (FilterObject == null)
            {
                return _filteredViolets;
            }
            
            return _filteredViolets
                .Where(violet =>
                {
                    List<string> activeFilterTags = FilterObject.Tags
                        .Where(tag => tag.Active)
                        .Select(tag => tag.Name)
                        .ToList();

                    return violet.Tags.All(tag => activeFilterTags.Contains(tag));
                })
                .Where(violet =>
                {
                    List<string> activeBreederTags = FilterObject.BreederTags
                        .Where(tag => tag.Active)
                        .Select(tag => tag.Name)
                        .ToList();

                    return activeBreederTags.Contains(violet.Breeder);
                })
                .Where(violet =>
                {
                    List<string> activeChimeraTags = FilterObject.ChimeraTags
                        .Where(tag => tag.Active)
                        .Select(tag => tag.Name)
                        .ToList();

                    return activeChimeraTags.Contains(violet.IsChimera ? "да" : "нет");
                })
                .Where(violet =>
                {
                    List<string> activeColorTags = FilterObject.ColorTags
                        .Where(tag => tag.Active)
                        .Select(tag => tag.Name)
                        .ToList();

                    return violet.Colors.All(color => activeColorTags.Contains(ExtensionMethods.GetEnumDescription(color)));
                })
                .Where(violet =>
                {
                    List<string> activeColorTags = FilterObject.YearTags
                        .Where(tag => tag.Active)
                        .Select(tag => tag.Name)
                        .ToList();

                    return activeColorTags.Contains(violet.BreedingDate.Year.ToString());
                })
                .ToList();
        }
        set => _filteredViolets = value;
    }

    private Filter FilterObject { get; set; }
    
/*
    private void SortByName()
    {
        FilteredViolets = FilteredViolets.OrderBy(violet => violet.Name).ToList();
    }
*/
/*
    private void SortByPrimaryColor()
    {
        FilteredViolets = FilteredViolets.OrderByDescending(violet => violet.Colors[0]).ToList();
    }
*/
    
    protected override void OnParametersSet()
    {
        /*
        if (String.IsNullOrEmpty(Filter) == false && String.IsNullOrEmpty(Criteria) == false)
        {
            if (Filter == FilterType.ByBreeder.ToString())
            {
                FilteredViolets = AppState.Violets
                    .Where(violet => violet.Breeder.Equals(Criteria))
                    .ToList();
            }
            
            if (Filter == FilterType.ByTag.ToString())
            {
                FilteredViolets = AppState.Violets
                    .Where(violet => violet.Tags.Contains(Criteria))
                    .ToList();
            }
            
            if (Filter == FilterType.ByTags.ToString())
            {
                string[] tags = Criteria.Split(',');
                FilteredViolets = AppState.Violets
                    .Where(violet => violet.Tags.Intersect(tags).Count() == tags.Length)
                    .ToList();
            }
            
            if (Filter == FilterType.ByColor.ToString())
            {
                FilteredViolets = AppState.Violets
                    .Where(violet => violet.Colors.Contains((VioletColor) Int32.Parse(Criteria)))
                    .ToList();
            }

            InitFilter();

            return;
        }
        */
        
        FilteredViolets = AppState.Violets;
        InitFilter();
    }

    private void InitFilter()
    {
        List<Tag> tagsList = FilteredViolets
            .SelectMany(violet => violet.Tags)
            .Distinct()
            .Select(s => new Tag(s))
            .ToList();

        List<ColorTag> colorsTags = FilteredViolets
            .SelectMany(violet => violet.Colors)
            .Distinct()
            .Select(color => new ColorTag(ExtensionMethods.GetEnumDescription(color), false))
            .ToList();

        List<BreederTag> breedersTags = FilteredViolets
            .Select(violet => violet.Breeder)
            .Distinct()
            .Select(s => new BreederTag(s, false))
            .ToList();

        List<YearTag> yearsTags = FilteredViolets
            .Select(violet => violet.BreedingDate)
            .Distinct()
            .Select(dateTime => new YearTag(dateTime.Year.ToString(), false))
            .ToList();

        List<ChimeraTag> chimeraTags = FilteredViolets
            .Select(violet => violet.IsChimera)
            .Distinct()
            .Select(b => new ChimeraTag(b ? "да" : "нет", false))
            .ToList();

        FilterObject = new Filter(tagsList, colorsTags, breedersTags, yearsTags, chimeraTags);
    }
}